<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Notifications Email Template</title>
    <meta name="description" content="Notifications Email Template" />
    <style type="text/css">
      a:hover {
        text-decoration: none !important;
      }
      :focus {
        outline: none;
        border: 0;
      }
    </style>
  </head>

  <body
    marginheight="0"
    topmargin="0"
    marginwidth="0"
    style="margin: 0px; background-color: #f2f3f8;"
    bgcolor="#eaeeef"
    leftmargin="0"
  >
    <!--100% body table-->
    <table
      cellspacing="0"
      border="0"
      cellpadding="0"
      width="100%"
      bgcolor="#f2f3f8"
      style="
        @import url(
          https://fonts.googleapis.com/css?family=Rubik:300,
          400,
          500,
          700|Open + Sans:300,
          400,
          600,
          700
        );
        font-family: 'Open Sans', sans-serif;
      "
    >
      <tr>
        <td>
          <table
            style="background-color: #f2f3f8; max-width: 670px; margin: 0 auto;"
            width="100%"
            border="0"
            align="center"
            cellpadding="0"
            cellspacing="0"
          >
            <tr>
              <td style="height: 80px;">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <table
                  width="95%"
                  border="0"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    max-width: 600px;
                    background: #fff;
                    border-radius: 3px;
                    text-align: left;
                    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  "
                >
                  <tr>
                    <td style="padding: 40px; background: azure;">
                      <table
                        width="100%"
                        border="0"
                        align="center"
                        cellpadding="0"
                        cellspacing="0"
                      > <tr>
                        <td>
                          <div style="background: #2474e5;">
                            <img
                              style="margin: 3%;"
                              src="https://imgfile.blob.core.windows.net/test/icon_vxr_full_2_test.png"
                              alt="logo"
                            />
                          </div>
                        <tr>
                          <td>
                            <p
                              style="
                                font-size: 15px;
                                color: #455056;
                                line-height: 24px;
                              "
                            >
                              
                              <h1
                                style="
                                  font-style: italic;
                                  color: #0e385e;
                                  font-weight: 300;
                                "
                                th:text="${brandName}"
                                >Chào customerFirstName,</h1>
                            </p>
                            <div>
                                <span
                                style="
                                 font-weight: 400;
                                  color: #0a0a0a;
                                  font-weight: 300;
                                  margin-bottom: 30px;
                                ">Bạn đã yêu cầu phục hồi lại mật khẩu trên ứng dụng VEXERE. Nhập mã xác thực dưới đây để khôi phục mật khẩu mặc định 
                                </span> 
                                <span
                                style="
                                 font-style: italic;
                                  color: #f50c0c;
                                  font-weight: 300;
                                  margin-bottom: 30px;
                                "> 123456 
                                </span>.
                                <span
                                style="
                                 font-weight: 400;
                                  color: #0a0a0a;
                                  font-weight: 300;
                                  margin-bottom: 30px;
                                ">Nếu bạn không có yêu cầu hoặc có sự nhầm lẫn nào thì bạn có thể bỏ qua email này.
                                <br>Mã xác thực:
                                </span> 
                                <span
                                style="
                                 font-weight: 400;
                                  color: #f31212;
                                  font-weight: 300;
                                  margin-bottom: 30px;"
                                  th:text="${brandName}"> validateCode
                                </span> 
                                <div style="padding: 10px;"> Trân trọng,
                                   <div style="margin-top: 8px;">
                                       <span
                                       style="
                                         font-style: italic;
                                         color: #f31212;
                                         font-weight: 300;
                                       "
                                         > VEXERE
                                       </span> 
                                   </div>
                                </div>
                            </div>
                          </td>

                        </tr>
                        
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="height: 25px;">&nbsp;</td>
            </tr>
            <tr>
              <td style="height: 80px;">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!--/100% body table-->
  </body>
</html>